<div class="center hero-unit">
  <h1>Peter Kim Blog</h1>
  <h2>#02/13/13 #1.0 #sign-up available</h2>
  <%= link_to "Sign up now!", signup_path, class:"btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt:"Rails"), 'http://rubyonrails.org/' %>  
